@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');

* {
  margin: 8px 5px;
  box-sizing: border-box;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
}
body{
  .main-container {
    text-align: center;
  }
  background-color: rgb(206, 134, 140); 
  
}