.contador{
    display: flex;
    flex-direction: row;
    align-items: center;
    button{
        max-width: 30px;
        font-size: 30px;
        font-weight: 800;
    }
    span{
        width: 10px;
        font-weight: 600;
    }
}
.addOnCart{
    width: 200px;
    height: 30px;
}