.contador{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aliceblue;
    button{
        max-width: 30px;
        font-size: 30px;
        font-weight: 800;
    }
    span{
        width: 10px;
        font-weight: 600;
    }
    
}